
@{
    Layout = null;
    ViewBag.Title = "Index";
}

<body>
    <h2>Dobrodosli u prodavnicu</h2>


    <table>
        @if (HttpContext.Current.Session["korisnik"] == null)
        {
            <tr>
                <td>
                    <form method="post" id="loginForm" action="/Prodavnica/UlogujSe">
                        <table border="1" align="center">
                            <tr>
                                <td colspan="2" align="center">Ulogujte se</td>
                            </tr>
                            <tr>
                                <td>Korisnicko ime:</td>
                                <td>
                                    <input type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>Lozinka:</td>
                                <td>
                                    <input type="password" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center"><input type="submit" value="Uloguj se" /></td>
                            </tr>
                        </table>
                    </form>
                </td>
                <td>
                    <h3>Nemate nalog?</h3>
                    <form action="/Prodavnica/Registracija">
                        <input type="submit" value="Registrujte se ovde!" />
                    </form>
                </td>
            </tr>
        }
        <tr>
            @* TODO NASTAVITI *@
        </tr>

    </table>
</body>