@using VebProdavnica.Models;
@{
    ViewBag.Title = "OstaviRecenziju";
}

<head>
    <title>Nova recenzija</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
        }

        .elements
        {
            padding: 20px;
        }

        h2 {
            color: #333;
            margin-bottom: 20px;
        }

        form {
            margin-bottom: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        td {
            padding: 10px;
        }

        input[type="text"],
        input[type="file"] {
            padding: 5px 10px;
            width: 100%;
        }

        input[type="submit"] {
            padding: 5px 10px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        ul {
            list-style-type: none;
            padding: 0px;
            margin: 0;
            background-color: #333;
            overflow: hidden;
            position: sticky;
            top: 0;
        }

        li {
            display: inline;
            margin-right: 10px;
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        a {
            color: #333;
            text-decoration: none;
        }

        a:hover {
            color: #cc0000;
        }

        .required-input:invalid {
            background-color: #ffeeee;
        }
    </style>
</head>

<body>

    @if (HttpContext.Current.Session["korisnik"] == null)
    {
        <ul>
            <li><a href="~/Prodavnica/Index">Pocetna stranica</a></li>
            <li style="float:right"><a href="~/Prodavnica/Prijava">Prijavi se</a></li>
            <li style="float:right"><a href="~/Prodavnica/Registracija">Registracija</a></li>
        </ul>
    }
    else if (((Korisnik)HttpContext.Current.Session["korisnik"]).uloga == Uloga.Administrator)
    {
        <ul>
            <li><a href="~/Prodavnica/Index">Pocetna stranica</a></li>
            <li style="float:right"><a href="~/Prodavnica/Odjava">Odjavi se</a></li>
            <li style="float:right"><a href="~/Admin/AdminPanel">Admin profil</a></li>
        </ul>
    }
    else
    {
        <ul>
            <li><a href="~/Prodavnica/Index">Pocetna stranica</a></li>
            <li style="float:right"><a href="~/Prodavnica/Odjava">Odjavi se</a></li>
            <li style="float:right"><a href="~/Prodavnica/Profil">Moj profil</a></li>
        </ul>

    }

<div class="elements">
    <h2>Recenzija porudzbine '@ViewBag.id'</h2>

    <form method="post" action="/Prodavnica/PublishRecenziju" enctype="multipart/form-data">
        <input type="number" value="@ViewBag.id" name="idPorudzbine" hidden />
        <table>
            <tr>
                <td>Naslov:</td>
                <td> <input class="required-input" type="text" name="naslov" required/> </td>
            </tr>
            <tr>
                <td>Napisite nesto o ovom proizvodu: </td>
                <td> <input class="required-input" type="text" name="sadrzaj" required/> </td>
            </tr>
            <tr>
                <td>Mozete dodati i sliku uz vasu recenziju</td>
                <td><input type="file" accept="image/*" name="slika" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Ostavi recenziju" /></td>
            </tr>
        </table>
    </form>
    <a href="~/Prodavnica/Profil"> Odustani </a>
</div>
</body>