
@{
    ViewBag.Title = "OstaviRecenziju";
}

<h2>Recenzija porudzbine '@ViewBag.id'</h2>

<form method="post" action="/Prodavnica/PublishRecenziju">
    <input type="number" value="@ViewBag.id" name="idPorudzbine" hidden/>
    <table>
        <tr>
            <td>Naslov:</td>
            <td> <input type="text" name="naslov" /> </td>
        </tr>
        <tr>
            <td>Napisite nesto o ovom proizvodu: </td>
            <td> <input type="text" name="sadrzaj" /> </td>
        </tr>
        <tr>
            <td>Mozete dodati i sliku uz vasu recenziju</td>
            <td><input type="file" accept="image/*" name="slika"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Ostavi recenziju" /></td>
        </tr>
    </table>
</form>
<a href="~/Prodavnica/Profil" > Odustani </a>